@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "SF Pro Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* ABOUT PAGE */
.main-image {
    position: relative; /* positioning context */
    width: auto;        /* full width */
    margin: 0;
    padding: 0;
}

.main-image img {
    display: block;
    width: auto;        /* stretches edge-to-edge */
    margin: 0;
    padding: 0;
}

.main-text {
    position: absolute;
    bottom: 10px;   /* up from bottom */
    padding-bottom: 180px;
    right: 40px;    /* in from right */
    color: rgb(0, 0, 0);
    z-index: 2;
    text-align: right;
}


.main-text h1 {
    font-size: 60px;
}

.main-text p {
    font-size: 20px;
    color: #a8a8a8;
}

.about {
    position: relative;
    bottom: 10rem;
}
.about-text {
    font-size: 60px;
    text-align: left;
    margin-top: 0%;
    padding-top: 0%;
    margin-left: 5rem;
}

.bio {
    font-size: 30px;
    color: #000000;
    text-align: justify;
    margin-top: 1rem;
    padding-right: 15rem;
}

.location {
    padding-left: 5rem;
    margin-top: 20px;
}

.image-about img {
    width: 600px;        /* smaller size */
    height: auto;        /* maintain aspect ratio */
    border-radius: 20px; /* rounded corners */
    display: block;
    margin-bottom: 1rem; /* spacing below image */
}

.list-unstyled {
    margin-top: 2rem;
}
.contact-item {
    display: flex;        /* places icon + text side by side */
    align-items: center;  /* vertically aligns them */
    margin-bottom: 10px;  /* spacing between items */
}

.contact-item .icon {
    width: 25px;          /* adjust size */
    height: auto;
    margin-right: 8px;    /* space between icon and text */
}


.buttons {
    text-align: center;
    margin: 40px 0;
}

.buttons .btn {
    display: inline-block;
    margin: 0 10px;
    padding: 12px 24px;
    border-color: #000000;
    border-width: 2px;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;
    
}

.badge-beginner {
    background-color: #C49494;
    color: #000000;
}

.badge-intermediate {
    background-color: #CDC077;
    color: #000; /* darker for readability on yellow */
}

.badge-advanced {
    background-color: #7F9E81;
    color: #000000;
}

/* Hidden by default */
.scroll-element {
    opacity: 0;
    transform: translateY(50px); /* start 50px lower */
    transition: all 0.8s ease-out; /* smooth animation */
}

/* When visible */
.scroll-element.show {
    opacity: 1;
    transform: translateY(0); /* slide up into place */
}